{% load static %}
<html lang="en">
    <head>
        <title>Skinlist</title>
        <link rel="stylesheet" href="{% static 'wishlist/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    </head>
    <body class="indigo darken-4">
        <nav>
            <div class="nav-wrapper light-blue darken-2" style="padding-left: 1%; padding-right: 1%;">
              <a href="{% url 'index' %}" class="brand-logo">Skinlist</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'cosmetics' %}">Cosmetics</a></li>
                <li><a href="{% url 'bundles' %}">Bundles</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
              </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <footer class="page-footer light-blue darken-2">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Legal notice</h5>
                  <p class="grey-text text-lighten-4">
                    Fortnite and all related images are the property of Epic Games, Inc.
                    This website is not affiliated with, sponsored by, or endorsed by Epic Games, Inc. in any way.
                    The use of content related to Fortnite is intended to inform and entertain the visitors of this site.
                    All copyrights and trademarks are the property of their respective owners.
                </p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/CDisidoro/SkinList" target="_blank">GitHub</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2024 Camilo Andres D'isidoro
              </div>
            </div>
          </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, {});
            });
        </script>
    </body>
</html>