{% extends "wishlist/base_static.html" %}
{% block content %}
<div class="container">
    <h1 class="light-blue-text lighten-5">Bundles</h1>
    {% for item in bundles %}
        <h4 class="light-blue-text lighten-5">Bundle name: {{ item.name }}</h4>
        <div class="row">
            {% for cosmetic in item.cosmetics.all %}
            <div class="col s12 m6 l3">
                <a href="/cosmetic/{{item.id}}" class="black-text">
                    <div class="card small light-blue darken-2 card-content-center">
                        <img src="{{ cosmetic.icon }}" width="200"/>
                        <span class="card-title">{{ cosmetic.name }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}