{% extends "wishlist/base_static.html" %}
{% block content %}
<div class="container">
    <h1 class="light-blue-text lighten-5">Cosmetics</h1>
    <div class="row">
        {% for item in cosmetics %}
        <div class="col s12 m6 l3">
            <a href="/cosmetic/{{item.id}}" class="black-text">
                <div class="card small light-blue darken-2 card-content-center">
                    <img src="{{ item.icon }}" width="200"/>
                    <span class="card-title">{{ item.name }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}